
.settings-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Handwriting", cursive;
    -fx-padding: 10;


}

.settings-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 15 20;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0;
}